@tailwind base;
@tailwind components;
@tailwind utilities;
/*
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}
*/
body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: rgb(var(--background-rgb));*/
  margin: 0 0.5em
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (min-width: 30rem) {
  .horizontal {
    display: flex
  }
}
